@import url('https://fonts.googleapis.com/css?family=Charm|Oswald&display=swap');
$font-primary: "Times New Roman", Times, serif;
$font-secondary: 'Oswald', ;
$font-tertiary: 'Charm', ;
$color-primary:  rgb(186, 24, 32);